In [54]:
student = {
    "name" : "harsh",
    "age" : 22,
    "class" : "12th",
    "gender" : "male"
}

print(student)

{'name': 'harsh', 'age': 22, 'class': '12th', 'gender': 'male'}

In [55]:
temp = {
    "lucknow" : [12,45, 35],
    "delhi" : [24,42,33],
    "mumbai" : [36,48,37]
}
print(temp)

{'lucknow': [12, 45, 35], 'delhi': [24, 42, 33], 'mumbai': [36, 48, 37]}

In [56]:
info = dict(name = "john doe", age = 25, classs = "12th")
type(info)

dict

In [57]:
# how to acces value throung key

print(student["name"])
print(student.get("class"))

harsh
12th

In [58]:
# add key value pair
student["city"] = "lucknow"
print(student)

{'name': 'harsh', 'age': 22, 'class': '12th', 'gender': 'male', 'city': 'lucknow'}

In [59]:
student["name"] = "anurag","ankit", "akash", "abhinav", "rohit", "raj", "ayush"
print(student)

{'name': ('anurag', 'ankit', 'akash', 'abhinav', 'rohit', 'raj', 'ayush'), 'age': 22, 'class': '12th', 'gender': 'male', 'city': 'lucknow'}

In [60]:
del student["gender"]

In [61]:
print(student)

{'name': ('anurag', 'ankit', 'akash', 'abhinav', 'rohit', 'raj', 'ayush'), 'age': 22, 'class': '12th', 'city': 'lucknow'}

In [63]:
student = {
    "name" : "harsh",
    "age" : 22,
    "class" : "12th",
    "gender" : "male"
}

In [68]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['harsh', 22, '12th', 'male'])
dict_keys(['name', 'age', 'class', 'gender'])
dict_items([('name', 'harsh'), ('age', 22), ('class', '12th'), ('gender', 'male')])

In [69]:
for k in student:
    print(k)

name
age
class
gender

In [76]:
for k,v in student.items():
    print(f"{k} : {v}")

name : harsh
age : 22
class : 12th
gender : male

In [78]:
company = {
    "emp01" : {"name" : "ashu" , "age" : 55, "deparment" : "HR"},
    "emp02" : {"name" : "rati" , "age" : 45, "deparment" : "emp"},
    "emp03" : {"name" : "Rohit" , "age" : 65, "deparment" : "IT"}
}
print(company)

{'emp01': {'name': 'ashu', 'age': 55, 'deparment': 'HR'}, 'emp02': {'name': 'rati', 'age': 45, 'deparment': 'emp'}, 'emp03': {'name': 'Rohit', 'age': 65, 'deparment': 'IT'}}

In [79]:
from pprint import pprint

In [80]:
pprint(company)

{'emp01': {'age': 55, 'deparment': 'HR', 'name': 'ashu'},
 'emp02': {'age': 45, 'deparment': 'emp', 'name': 'rati'},
 'emp03': {'age': 65, 'deparment': 'IT', 'name': 'Rohit'}}

In [84]:
company["emp02"]["deparment"]

'emp'

In [ ]:
# calculate the average temperature of lko