In [10]:
import math

In [18]:
print(math.sqrt(25))
print(math.factorial(8))
print(math.sin(1))
print(math.log(4))
print(math.pi)

5.0
40320
0.8414709848078965
1.3862943611198906
3.141592653589793

In [22]:
from random import random, randint, shuffle, choice

In [27]:
print("random number between 0 to 1: ", random())
print("random number between 0 to 100: ", randint(1,100))
print("select random element from list: ", choice([1,3,4,5,6,7,8,9,10]))
names = ["john", "alice", "alina"]
shuffle(names)
print("shuffle names list: ", names)

random number between 0 to 1:  0.9292987451525477
random number between 0 to 100:  14
select random element from list:  4
shuffle names list:  ['john', 'alice', 'alina']

In [28]:
from datetime import datetime as dt

In [49]:
print("current date and time: ", dt.now())
print("today date is: ", dt.now().date())
print("current time is: ", dt.now().time())
print("current year is: ", dt.now().year)
print("current month is: ", dt.now().month)
print("current day is: ", dt.now().day)
print("current weekday is: ", dt.now().weekday())

current date and time:  2025-07-03 10:52:01.639148
today date is:  2025-07-03
current time is:  10:52:01.639911
current year is:  2025
current month is:  7
current day is:  3
current weekday is:  3

In [50]:
date = dt.strftime(dt.now(), "%d / %m / %y")
print(date)

03 / 07 / 25

In [53]:
time = dt.strftime(dt.now(), "%H : %M : %S")
print(time)

10 : 58 : 03