In [41]:
# create a list of 3 fruits and print

fruit = ["grapes","apple","chery" ]

print(fruit)

['grapes', 'apple', 'chery']

In [ ]:
# add a color in the given list 

color = ["orange", "red", "yellow"]

color.append("purple")
print(color)

['orange', 'red', 'yellow', 'purple']

In [ ]:
# print the first and last digit of list 

number = [12,25,45,36,17]

print(number[0],number[4])

12 17

In [ ]:
# remove the one name in the list

animals = ["dog", "cat","tiger","lion"]

animals.remove("cat")
print(animals)

['dog', 'tiger', 'lion']

In [ ]:
# sort he list 

num = [12,52,44,65,98,45]
 
num.sort()
print(num)

[12, 44, 45, 52, 65, 98]

In [ ]:
# count the  city name 

city = ["lko","delhi","pune","gao"]

city.count("lko")
print(city)

['lko', 'delhi', 'pune', 'gao']

In [ ]:
# check the bob in the list and print the msg

check = ["arun", "bob", "devil"]

if "bob" in check:
    print("hey")

hey

In [ ]:
# print the lsit using for loop 

flower = ["lotus", "rose", "tulip", "lavender"]

for i in flower:
    print(i)

lotus
rose
tulip
lavender

In [ ]:
# print the sum of list 

no = [25,45,65,32,1]

total = sum(no)
print(f"the sum of list is: {total}" )

the sum of list is: 168

In [ ]:
# print the 4 alphabet using slicing 

alpha = ["a","b","c","d","e","f","g","h"]

print(alpha[0:4])

['a', 'b', 'c', 'd']